        body {
            font-family: 'Source Sans Pro', sans-serif;
        }

        .navbar-brand {
            padding: 0px;
        }

        #portrait {
            padding-right: 15px;
        }
	nav {
	background-color: #009e42;
	}
